# Proxy for tomcat on apache 
# apache 2.4 
#  

<VirtualHost *:80>
  ServerName tomcat
  ServerAlias *.tomcat tomcat
  ProxyRequests Off
  ProxyPreserveHost On
  ProxyPass "/" http://192.168.60.5:8080/manager/html
  ProxyPassReverse "/" http://192.168.60.5:8080/manager/html
 
  <Proxy *>
    Require all granted
  </Proxy> 
</VirtualHost>

<VirtualHost *:80>
  ServerName app
  ServerAlias *.app app
  ProxyRequests Off
  ProxyPreserveHost On
  ProxyPass "/" http://192.168.60.5:8080/webapps
  ProxyPassReverse "/" http://192.168.60.5:8080/webapps
 
  <Proxy *>
    Require all granted
  </Proxy> 
</VirtualHost>



