# Proxy for tomcat on apache 
# apache 2.4 
#  

<VirtualHost *:80>
  ServerName api.localhost 

  ProxyRequests Off
  ProxyPreserveHost On

  ProxyPass /api http://localhost:{{ tomcat_port }}/test/
  ProxyPassReverse /api http://localhost:{{ tomcat_port }}/test/
 

  <Proxy *>
    Require all granted
  </Proxy> 
</VirtualHost>


